@charset "utf-8";
body {
	margin: 0;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

main .container{
	background: white;
	width: 100%px;
	height: 500px;
	position: static;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: left;
	padding-left: 240px;
}