@charset "utf-8";

.nav{
	width: 1000px;
	height: 1000px;
	border-bottom: solid;
	border-width: 1px;
	position: absolute;
	left: 50%;
	margin-top: 250px;
	margin-left: -500px;
	display: block;
	text-align: right;
	padding: 10px 0px 10px 0px;
}

.nav a{
	padding: 0px 10px 10px 10px;
	text-decoration: none;
	color: black;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}