@charset "utf-8";

sidenav a{
	text-decoration: none;
	font-size: 20px;
	color: #1A2131;
	padding-right: 15px;
	padding-top: 15px;
}

sidenav {
	position: fixed;
	margin-top: 100px;
	text-align: right;
	margin-left: 100px;
}

sidenav .profile, .projects, .socialmedia, .resume{
	padding-top: 15px;
	padding-bottom: 2px;
	padding-left: 10px;
}

sidenav .profile:hover a, .projects:hover a, .socialmedia:hover a, .resume:hover a{
	color: #3D44B5;
}