@charset "utf-8";

sidenav a{
	text-decoration: none;
	font-size: 20px;
	color: #1A2131;
	padding-right: 15px;
	padding-top: 15px;
}

sidenav {
	position: fixed;
	margin-top: 150px;
}

sidenav .profile, .projects, .socialmedia, .resume{
	padding-top: 15px;
	padding-bottom: 2px;
	padding-left: 10px;
	border-bottom: thin solid #4F7C9C
}

.profile:hover a{
	font-size: 25px;
}
.profile:hover{
	width: 250px;
}
.profile{
	width: 200px;
}


.projects:hover a{
	font-size: 25px;
}
.projects:hover{
	width: 110px;
}
.projects{
	width: 90px;
}


.socialmedia:hover a{
	font-size: 25px;
}
.socialmedia:hover{
	width: 130px;
}
.socialmedia{
	width: 110px;
}


.resume:hover a{
	font-size: 25px;
}
.resume:hover{
	width: 105px;
}
.resume{
	width: 90px;
}