@charset "utf-8";

.choose .cover{
	height: 1000px;
}

.imgtitle{
	margin-bottom: -10px;
}

.im{
	margin-bottom: -20px;
	
}

.image{
	text-align: right;
}

.choose .image p{
	display: inline-block;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 30px;
}

.choose .image img{
	padding-bottom: 10px;
	border-bottom: solid;
	border-width: 1px;
	border-color: grey;
	position: relative;
	object-fit: cover;
	width: 750px;
	height: 750px;
}

.choose .image{
	width: 750px;
}

.choice .choices{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";	
	padding-top: 20px;
	padding-bottom: 20px;
	border-right: solid;
	border-width: 1px;
	border-color: grey;
}

.ch{
	padding-top: 5px;
	padding-right: 10px;
	height: 50px;
	text-align: right;
}

.choices a:hover{
	color: #399d6d;
}

.choices a{
	padding-right: 10px;
	color: black;
	text-decoration: none;
	font-size: 20px;
}

.choice .choices{
	width: 400px;
	position: absolute;
	z-index: 1;
	left: 50%;
	margin-top: 320px;
	margin-left: 90px;
	display: block;
	text-align: right;
	padding: 10px -10px 24px 10px;
}

.choice .choose{
	width: 990px;
	border-bottom: solid;
	border-width: 1px;
	border-color: grey;
	position: absolute;
	left: 50%;
	margin-top: 320px;
	margin-left: -500px;
	display: block;
	text-align: left;
	padding: 10px 0px 24px 10px;
	margin-bottom: 20px;}

.content .c-left{
	width: 990px;
	border-bottom: solid;
	border-width: 1px;
	border-color: grey;
	position: absolute;
	left: 50%;
	margin-top: 320px;
	margin-left: -500px;
	display: block;
	text-align: left;
	padding: 10px 0px 24px 10px;
	margin-bottom: 20px;
}

.grid .content .c-right{
	width: 400px;
	position: absolute;
	left: 50%;
	margin-top: 320px;
	margin-left: 100px;
	display: block;
	text-align: left;
	padding: 10px 0px 24px 10px;
}


.grid .content .c-right{
	width: 400px;
	position: absolute;
	left: 50%;
	margin-top: 320px;
	margin-left: 100px;
	display: block;
	text-align: left;
	padding: 10px 0px 24px 10px;
}

.content{
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.content a{
	font-size: 25px;
}

.content .c-left p{
	width: 600px;
	text-align: justify;
}

.c-right p, .c-right  a{
	padding-left: 30px;
}

.c-right p{
	margin-left: 20px;
}

#overview p{
	text-indent: 20px;
	padding-left: 10px;
	width: 550px;
}

#overview, #contact, #experiences{
	padding-bottom: 50px;
}

.icon{
	margin-top: 10px;
}

.icon .ic1{
	position: absolute;
	margin-left: 50px;
	width: 35px;
	height: 35px;
	background: url("img/icons/021-facebook.png") no-repeat;
	background-size: contain;
}
.icon .ic1:hover{
	background: url("img/icons/021-facebook-h.png") no-repeat;
	background-size: contain;
}

.icon .ic2{
	position: absolute;
	margin-left: 90px;
	width: 35px;
	height: 35px;
	background: url("img/icons/025-instagram.png") no-repeat;
	background-size: contain;
}
.icon .ic2:hover{
	background: url("img/icons/025-instagram-h.png") no-repeat;
	background-size: contain;
}
.icon .ic3{
	position: absolute;
	margin-left: 130px;
	width: 35px;
	height: 35px;
	background: url("img/icons/045-linkedin.png") no-repeat;
	background-size: contain;
}
.icon .ic3:hover{
	background: url("img/icons/045-linkedin-h.png") no-repeat;
	background-size: contain;
}

.icon .ic4{
	position: absolute;
	margin-left: 170px;
	width: 35px;
	height: 35px;
	background: url("img/icons/043-twitter.png") no-repeat;
	background-size: contain;
}
.icon .ic4:hover{
	background: url("img/icons/043-twitter-h.png") no-repeat;
	background-size: contain;
}

.icon .ic5{
	position: absolute;
	margin-left: 210px;
	width: 35px;
	height: 35px;
	background: url("img/icons/046-spotify.png") no-repeat;
	background-size: contain;
}
.icon .ic5:hover{
	background: url("img/icons/046-spotify-h.png") no-repeat;
	background-size: contain;
}

.icon .ic6{
	position: absolute;
	margin-left: 250px;
	width: 35px;
	height: 35px;
	background: url("img/icons/038-github.png") no-repeat;
	background-size: contain;
}
.icon .ic6:hover{
	background: url("img/icons/038-github-h.png") no-repeat;
	background-size: contain;
}

.c-left .educ .sch{
	margin-left: 20px;
	font-size: 17px;
}

.educ p{
	margin-left: 10px;
}

.educ .yr{
	border-top: solid;
	border-width: 1px;
	margin-top: -15px;
	text-align-last: right;
}

.c-left .educ .yr{
	width: 390px;
	padding-right: 10px;
}

.educ .cor{
	font-size: 15px;
	margin-left: 50px;
	margin-top: -15px;
	color: black;
	font-style: oblique;
}

.col{
	font-size: 20px;
	margin-left: -20px;
	color: #399d6d;	
}

.educ .sped{
	margin-left: 420px;
	margin-top: -30px;
	position: absolute;
	width: 80px;
	height: 80px;
}

.educ .asnhs{
	margin-left: 418px;
	margin-top: -68px;
	position: absolute;
	width: 85px;
	height: 80px;
}

.educ .msu{
	margin-left: 425px;
	margin-top: -10px;
	position: absolute;
	width: 80px;
	height: 80px;
}

#experiences .title{
	font-size: 17px;
	color: #399d6d;
	margin-left: 10px;
}

#experiences .yr1{
	margin-top: -18px;
	margin-left: 30px;
}

#experiences .job{
	font-style: italic;
	margin-left: 20px;
	margin-top: -20px;
}